.team {
  background: #f4f4fd;
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  margin: 0 auto;
}

.team-list {
  background-color: #fff;
  width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 1158px) {
  .team-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.team-text {
  padding: 32px 16px;
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  margin: 0;
}

.team-list-post {
  text-align: center;
  margin: 8px 0 0 0;
}

.team-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 72px;
  /* gap: 24px; */
  margin-top: 72px;
}

@media screen and (min-width: 768px) {
  .team-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .team-wrapper {
    flex-wrap: nowrap;
    padding: 0;
  }
}

.team-social {
  display: inline-flex;
  gap: 24px;
  margin-top: 8px;
}

.team-social .social-icon-wrapper:hover,
.team-social .social-icon-wrapper:focus {
  background: #404bbf;
}
